@font-face {
	font-family: 'thin';
	src: url('A3Images/AvenirNext/AvenirNext-UltraLight.ttf') format('truetype');
}

#error1{
	position: fixed;
	color: red;
	font-size: 14px;
	font-family:'thin';
	top:64.5%;
	left:43%;
}

#error2{
	position: fixed;
	color: red;
	font-size: 14px;
	font-family:'thin';
	top:64.5%;
	left:44.5%;
}

#keys{
	position: fixed;
	top: 15%;
	left: 42%;
	height: 25%;
	width: 13%;
}

#worduser{
	position: fixed;
	color: white;
	font-size: 27px;
	font-family:'thin';
	top:39.5%;
	left:34.5%;
}

#wordpass{
	position: fixed;
	color: white;
	font-size: 27px;
	font-family:'thin';
	top:51.5%;
	left:34.7%;
}

.behind{
	border-radius: 15px;
	height: 50%;
	width: 30%;
	position: fixed;
	top: 22%;
	left: 31.9%;
	padding: 20px;
	background-color: #b9b8ba;
	filter: blur(0.5px);
	opacity:0.6;
}

#userInput{
	position: fixed;
	top: 45%;
	left: 34.5%;
	width: 27%;
	line-height:2.7em;
}
#userInput:focus {outline:0;}

#passInput{
	position: fixed;
	top: 57%;
	left: 34.5%;
	width: 27%;
	line-height:2.7em;
}
#passInput:focus {outline:0;}

#logButton{
	position: fixed;
	top: 69%;
	left: 45%;
	border-radius: 20px;
	border: none;
	text-align: center;
	width: 7%;
	height: 5%;
    color: white;
    padding: 0px;
    background-color: #e9822d;
    opacity: 0.9; 
    font-size: 20px;
    font-family: 'thin';
}